footer{
    color: white;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    .footer__ul{
    list-style: none;
    display: flex;
    flex-direction: row;}
    .footer__ul li{
    margin: 1rem;}
    i{
    font-size: 2rem;
    color: white;
    transition: 0.6s;}
    i:hover{
        transform: scale(1.3);
    }
}