*{
    font-family: 'Julius Sans One', sans-serif;
}

body{
    background:map-get($map: $colors, $key:'gradient' );
}


.section{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        @include radioyancho(40%,50%)
    }
}

.carousel{
    img{
        width: 100%;
    }
}

.card-title{
    @extend body;
    color:white
}