.saber-mas{
    text-decoration: none;
    color: white;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        @include radioysombra(100%,0px 0px);
        width: 50%;
    }
}

.carousel{
    img{
        width: 100%;
    }
}
.card-body{
    background-color: darkgray;
    .card-title{
    @extend body;
    color:white;
    border-radius: 5%;}
}

.navbar__logo{
    height: 30px;
    width: 30px;
}