// NOSOTROS 


@media (max-width:$mobile){
    .section__nosotros{
        display: flex;
        flex-direction: column;
        .swipe{
            display: inline;
        }
    }

    .banner__ul li{
        margin: 1rem;
        padding: 1rem;}
}


// CONTACTO 

@media (max-width:$mobile){
    .contacto{flex-direction: column;}
}
