// MAPA
$colors: (
    'primario': rgb(26, 11, 107),
    'secundario': rgb(48, 22, 214),
    'péligro': rgb(83, 65, 27),
    'gradient':linear-gradient(to right, #E4E5E6, #00416A),
);

// Mixin

@mixin radioyancho ($radio, $ancho){
    border-radius: $radio;
    width: $ancho;
}

